#root {
  margin: 0 auto;
  text-align: center;
}

/**************************/

/* src/components/Navbar/Navbar.css */
.header {
  display: flex; /* Use flexbox for alignment */
  justify-content: center; /* Center the logo */
  align-items: center; /* Center items vertically */
  margin: 20px; /* Add padding around the header */
  background-color: #ffffff00; /* White background */
  border-bottom: 2px solid #ffffff00; /* Black line at the bottom */
  position: fixed; /* Fix the navbar to the top */
  top: 0; /* Position it at the top */
  left: 0; /* Align it to the left */
  right: 0; /* Align it to the right */
  z-index: 1000; /* Ensure it stays above other content */
}

.logo {
  margin-right: 20px;
  height: 70px; /* Set your desired height */
  width: auto; /* Maintain aspect ratio */
  animation: rotate 5s linear infinite; /* Rotate continuously */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.signout {
  margin-left: auto; /* Remove or adjust the margin */
}

.logo-container {
  flex: 1; /* Allow the logo container to take up space */
  display: flex; /* Use flexbox for alignment */
  justify-content: center; /* Center the logo */
}
.email {
  font-size: medium;
}
/***********************
/* src/Home.css */

.home li:hover {
  transform: translateY(-3px);
  cursor: pointer;
  text-decoration: underline;
}
.home h1 {
  color: #000000; /* Darker color for the heading for better contrast */
  font-size: 3rem; /* Increased font size for emphasis */
  margin-bottom: 200px; /* Space below the heading */
}
.home p {
  font-size: 20px; /* Increased font size for better readability */
  color: #34495e; /* Slightly lighter dark color for text */
  margin-bottom: 30px; /* Space below the paragraph */
}

/* Button Styles */
.bt {
  cursor: pointer; /* Change cursor to pointer on hover */
  margin: 10px 0; /* Space between buttons */
  width: 100%; /* Full width buttons */
  transition: background-color 0.3s; /* Smooth transition for hover */
}

.bt:hover {
  background-color: #59565d; /* Darker shade on hover */
}
/* Mobile Styles */
@media only screen and (max-width: 600px) {
  .header {
    margin-top: 0px;
    position: relative;
    display: block; /* Display header in block format */
    text-align: center;
    height: 110px; /* Adjust header height */
  }

  .logo {
    height: 50px; /* Smaller logo for mobile */
  }

  .home h1 {
    margin: 0px;
    margin-top: 20px;
    font-size: 2rem; /* Smaller heading for mobile */
  }

  .bt {
    margin: 5px;
    font-size: 1rem; /* Adjust button font size */
    width: 80%; /* Reduce button width for mobile */
  }
}

.signout {
  margin-right: 10px; /* Space between signout and email */
}

.email {
  display: block; /* Keep email as a block */
}
