body {
  margin: 0;
  background: linear-gradient(180deg, rgb(117, 81, 194), rgb(255, 255, 255));
  display: flex;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  border: 1px solid black;
  gap: 1px;
  background-color: black;
  border-radius: 8px;
  overflow: auto;
}

li {
  background-color: white;
  padding: 8px;
}

li:hover {
  background: #dadbf9;
}

a {
  font-weight: 800;
  text-decoration: none;
}
/**************************/

/* Styles for screens larger than 600px */
body {
  font-size: 16px;
  padding: 20px;
}

/* Styles for screens up to 600px (mobile) */
@media only screen and (max-width: 600px) {
  body {
    font-size: 14px; /* Adjust font size */
    padding: 10px;
  }

  .header {
    flex-direction: column; /* Stack items vertically on small screens */
    text-align: center;
  }

  .logo {
    height: 50px; /* Make the logo smaller on mobile */
  }

  button {
    width: 100%; /* Full-width buttons on mobile */
    font-size: 1rem;
  }
}
